::-webkit-scrollbar {
    display: none;
}

.face-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    scroll-behavior: smooth;
  }